@import url(./__list/places__list.css);
@import url(./__item/places__item.css);

.places {
  margin: auto;
  padding-top: 66px;
}

@media screen and (min-width: 600px) {
  .places {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .places {
    max-width: 728px;
    padding-top: 106px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    max-width: 928px;
    padding-top: 112px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    max-width: 984px;
    padding-top: 101px;
  }
}