@import url(./__img/video__img.css);
@import url(./__play/video__play.css);
@import url(./__content/video__content.css);
@import url(./__duration/video__duration.css);
@import url(./__title/video__title.css);
@import url(./__director/video__director.css);

.video {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}

.video:hover .video__img:before {
  opacity: 0;
}