@import url(./__logo/header__logo.css);

.header {
  display: flex;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 30px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-right: 128px;
    padding-left: 128px;
  }
}