@import url(./__title/banner__title.css);
@import url(./__text/banner__text.css);
@import url(./__img/banner__img.css);
@import url(./__img-title/banner__img-title.css);

.banner {
  margin: auto;
  padding-top: 50px;
}

@media screen and (min-width: 768px) {
  .banner {
    max-width: 768px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    max-width: 928px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .banner {
    max-width: 984px;
  }
}