.comments__title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .comments__title {
    width: 500px;
    margin: 0 auto 29px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .comments__title {
    width: 800px;
    font-size: 72px;
    line-height: 65px;
    margin-bottom: 37px;
  }
}

@media screen and (min-width: 1280px) {
  .comments__title {
    line-height: 77px;
  }
}